{% extends "account/base.html" %} {% load i18n %} {% load account socialaccount %} {% block head_title %}{% trans "Sign In"
%}{% endblock %} {% block content %}

<h1>{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %} {% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one of your existing third party accounts. Or,
  <a href="{{ signup_url }}">sign up</a>
  for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %} {% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
  <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
</form>
<script>
  function startListening(recognition, endCallback, resultCallback) {

    recognition.start();

    [
      'onaudiostart',
      'onaudioend',
      'onend',
      'onerror',
      'onnomatch',
      'onresult',
      'onsoundstart',
      'onsoundend',
      'onspeechend',
      'onstart'
    ].forEach(function (eventName) {
      recognition[eventName] = function (e) {
        console.log(eventName, e);
      };
    });

    recognition.onspeechend = function () {
      // document.querySelector('#start-button').innerHTML = 'Start Listening';
      endCallback()
    };
    recognition.onresult = function () {
      // document.querySelector('#demo-echo').textContent = event.results[0][0].transcript;
      resultCallback((event.results[0][0].transcript).replace(/ /g, ''));
    };

    // document.querySelector('#start-button').innerHTML = 'Listening...';

    // recognition.onend = function() {
    // 	document.querySelector('#start-button').innerHTML = 'Start Listening';
    // };
    // recognition.onresult = function() {
    // 	document.querySelector('#demo-echo').textContent = event.results[0][0].transcript;
    // };
  };


  $(document).ready(function () {
    var recognition = new (webkitSpeechRecognition || SpeechRecognition)();
    recognition.lang = 'en-US';
    recognition.interimResults = false;
    recognition.maxAlternatives = 1;

    responsiveVoice.speak("Say Your username", 'UK English Female', {
      onend: function () {
        startListening(recognition,
          function () {
            responsiveVoice.speak('please wait a moment')
          },
          function (result) {
            $('#id_login').val(result)
            responsiveVoice.speak('your username is ' + result, 'UK English Female', {
              onend: function () {
                responsiveVoice.speak("Say Your password", 'UK English Female', {
                  onend: function () {
                    startListening(recognition,
                      function () {
                        responsiveVoice.speak('please wait a moment')
                      },
                      function (result) {
                        // alert(result)
                        $('#id_password').val(result)
                        responsiveVoice.speak('your password is ' + result)
                      })
                  }
                })
              }
            })
            // alert(result)

          })
      }
    });
    // alert('aaa')
    // $('#id_login').focus(function () {
    //   responsiveVoice.speak("Enter Your username");
    // })
    // $('#id_password').focus(function () {
    //   responsiveVoice.speak("Enter Your password");
    // })
    // $('#id_login').hover(function () {
    //   responsiveVoice.speak("Enter Your username");
    // })
    // $('#id_password').hover(function () {
    //   responsiveVoice.speak("Enter Your password");
    // })

    // responsiveVoice.speak("Enter Your username");
    // // alert('aaa')
    // $('#id_login').focus(function(){
    //   responsiveVoice.speak("Enter Your username");   
    // })
    // $('#id_password').focus(function(){
    //   responsiveVoice.speak("Enter Your password");   
    // })
    // $('#id_login').hover(function(){
    //   responsiveVoice.speak("Enter Your username");   
    // })
    // $('#id_password').hover(function(){
    //   responsiveVoice.speak("Enter Your password");   
    // })
  })
</script> {% endblock %}